@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka:wght@300;400;500;600&family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500;600;700&family=Nova+Square&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');

p{
    font-family: 'Fredoka', sans-serif;
}

.typoLocuaz{
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
}

.typoParrafos {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

.typoBotones{
  font-family: 'Neuzeit Grotesk';
  src: url('NeuzeitGro-Reg.eot');
  src: local('Neuzeit Grotesk Regular'), local('NeuzeitGro-Reg'),
      url('NeuzeitGro-Reg.eot?#iefix') format('embedded-opentype'),
      url('NeuzeitGro-Reg.woff2') format('woff2'),
      url('NeuzeitGro-Reg.woff') format('woff'),
      url('NeuzeitGro-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fondoContact{
  background-image: url("./assets/images/EricMentor.jpg");
        background-attachment:scroll;
        background-size: cover;
        background-position: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  border-radius: 10px;
  background-color:azure;
   /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  
  .close {
    position: absolute;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
  }
  
  .close:hover {
    color: yellow;
  }
  


#contenedor-video {
    position: relative;
    width: 100%;
    height: 500px; /* Ajusta la altura según sea necesario */
    overflow: hidden;
}


.heroImage {
    background-image: url("./assets/images/speakingExtendedPhonesMini.jpg");
    background-size: contain;
    width: 100vw;
    background-repeat: no-repeat;
    
}



.imagen-centrada {
  
   
    
    object-fit: cover;
   
}

.vimeoFrame{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.imagen-centradaAbout {
  width: 65%;
}

.carrusel {
    width: 99%;
    overflow: hidden;
}

.marcas-container {
    display: flex;
    width: 3000px;
    animation: desplazar 25s linear infinite; /* Ajusta la duración según la velocidad que desees */
}

.marcas {
    display: flex;
}

.marca {
    flex: 0 0 auto;
    width: 340px; /* Ajusta el ancho según sea necesario */
    padding: 20px;
   
}

.menu-hamburguesa {
    width: 100vw;
    cursor: pointer;
    padding: 15px;
    background-color: #04143C;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 31;
}

.linea {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
}

.menu-desplegable {
    position: fixed;
    top: 70px; /* Ajusta según la altura de tu menú hamburguesa */
    left: 0;
    width: 100%;
    background-color: #04143C;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-130%); /* Ajusta según sea necesario */
    transition: transform 0.3s ease-in-out;
    z-index: 30;
}

.headBackground{
  background-image: url("./assets/images/speakingExtended.jpg");
  background-attachment:scroll;
      background-size:200%;
      background-position: top;
      
}

@keyframes botar {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* Posición inicial y final sin desplazamiento vertical */
  }
  40% {
    transform: translateY(-20px); /* Punto más alto del rebote, desplazamiento hacia arriba */
  }
  60% {
    transform: translateY(-10px); /* Punto medio del rebote, desplazamiento hacia abajo */
  }
}

/* Aplicar la animación al elemento deseado */
.elemento-con-bounce {
  animation: botar 2s infinite; /* Duración de la animación y repetición infinita */
}
.menu-desplegable a {
    padding: 15px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.menu-desplegable a:hover {
    background-color: #555;
}

.menu-desplegable.mostrando {
  transform: translateY(0);
}

.videoContanier{
  width: 100%;
  overflow: hidden;
}

.heroImage {
  background-image:none;
  
}

.heroImageAbout {
  background-image: none;

}

.fixedBackground {
  background-image: url("assets/images/EricMentor2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 30%;
}

.aboutimage{
  background-image: url("./assets/images/EricMentor.jpg");
  background-attachment:scroll;
      background-size: cover;
      background-position: center;
      opacity: 20%;
}

.aboutimage2{
  background-image: url("./assets/images/EricMentor2.jpg");
  background-attachment:scroll;
      background-size: cover;
      background-position: center;
}

.heroImageContact{
  background-image: none;
}

.heroImageSpeaking{
  background-image: none;
}

.heroImageCoaching{
  background-image: none;
}

.flecha {
  left: 186px;
}

.animar-subrayado {
  position: relative;
  display: inline-block;
  color: #fff; /* Color del texto */
  text-decoration: none; /* Eliminar el subrayado predeterminado */
}

.animar-subrayado::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Grosor del subrayado */
  bottom: 0;
  left: 0;
  background-color: #fff; /* Color del subrayado */
  animation: subrayado-animacion 3s forwards; /* Nombre de la animación y duración */
}

@keyframes subrayado-animacion {
  to {
    width: 100%;
  }
}

.lista {
  list-style-type: none;
}

.mas {
  cursor: pointer;
  user-select: none;
  transition: transform 0.5s ease-in-out;
}

.mas.expandido {
  transform: rotate(45deg);
}

.contenido {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.contenido.mostrando {
  margin-top: 15px;
  margin-bottom: 15px;
  max-height: 300px; /* Ajusta la altura máxima según sea necesario */
}

.texto-vertical {
  writing-mode: vertical-rl; /* "rl" significa de derecha a izquierda */
  text-orientation: upright;
}

.brilla {
  animation: shine 2s infinite; /* 2s de duración, repetición infinita */
}

.desvane{
  animation: desvanecer 1.5s infinite;
}

.swiper {
  width: 100%px;
  height:auto;
}

.swiper .swiper-button-prev {
  --swiper-theme-color: #d3d3d3;
  height: 30px;
  width: 30px;
}

.swiper .swiper-button-next {
  --swiper-theme-color: #d3d3d3;
  height: 30px;
  width: 30px;
}

.swiper .swiper-pagination {
  --swiper-theme-color: #04143C;
}

#globe-container { width: 100%; height: 100vh; }

/*.altura-personalizada {
  
}*/

@keyframes caidaDesdeArriba {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .elemento-caida {
    animation: caidaDesdeArriba 1s ease-out;
  }

  @keyframes deslizamientoDesdeIzquierda {
    0% {
      transform: translateX(-20%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .elemento-deslizamiento {
    animation: deslizamientoDesdeIzquierda 1s ease-out;
  }
  
@keyframes shine {
    0% {
      color: #ffd700; /* Color inicial (blanco en este caso) */
    }
    50% {
      color: #04143C; /* Color intermedio (amarillo en este caso) */
      font-size: 27px;
    }
    100% {
      color: #ffd700; /* Color final (blanco en este caso) */
    }
  }

  @keyframes desvanecer {
    0% {
      opacity: 50%;
    }
    50% {
      opacity: 100%;
    }
    100%{
      opacity: 50%;
    }
  }

@keyframes desplazar {
    from {
        transform: translateX(-0%);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (min-width: 500px) {
  /* En pantallas más pequeñas, desactivar el efecto de fondo fijo */
  .imagen-centradaAbout {
    width: 45%;
  }
  
}

@media (min-width: 768px) {

  .imagen-centradaAbout {
    width: 27%;
  }
    /* En pantallas más pequeñas, desactivar el efecto de fondo fijo */
    .heroImage {
        background-image: url("./assets/images/speakingExtended.jpg");
        background-attachment:scroll;
        background-size: cover;
        background-position: center;
        
    }

    .heroImageAbout {
      background-image: url("./assets/images/EricMentor2.jpg");
      background-attachment:scroll;
      background-size: cover;
      background-position: center;
      
  }

  .heroImageContact{
    background-image: url("./assets/images/Intel\ Talk\ NextGen\ Updated.jpg");
    background-attachment:scroll;
      background-size: cover;
      background-position: center;
  }

  .heroImageSpeaking{
    background-image: url("./assets/images/MV\ Speaking\ Pic\ 2.jpg");
    background-attachment:scroll;
      background-size: cover;
      background-position: center;
  }

  .heroImageCoaching{
    background-image: url("./assets/images/EricMentor3.jpg");
    background-attachment:scroll;
      background-size: cover;
      background-position: center;
  }
  
    header{
        height: 100vh;
    }

    .menu-hamburguesa {
        display: none;
    }

    .menu-desplegable {
       display: none;
    }
    
    @keyframes desplazar {
      from {
          transform: translateX(0%);
      }
      to {
          transform: translateX(-100%);
      }
  }
    .marcas-container {
      display: flex;
      width: 3040px;
      animation: desplazar 20s linear infinite; /* Ajusta la duración según la velocidad que desees */
  }
}

@media (min-width: 1280px) {
    /* En pantallas más pequeñas, desactivar el efecto de fondo fijo */

    #contenedor-video {
        position: relative;
        width: 100%;
        height: 680px; /* Ajusta la altura según sea necesario */
        overflow: hidden;
    }

    @keyframes desplazar {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-100%);
        }
    }

    .marcas-container {
      display: flex;
      width: 1500px;
      animation: desplazar 30s linear infinite; /* Ajusta la duración según la velocidad que desees */
  }

  .vimeoFrame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 69%; /* Puedes ajustar esto según tus necesidades */
     /* Puedes ajustar esto según tus necesidades */
}
  
   
}

@font-face {
  font-family: 'Neuzeit Grotesk';
  src: url('NeuzeitGroExt-Bla.eot');
  src: local('Neuzeit Grotesk Extra-condensed Black'), local('NeuzeitGroExt-Bla'),
      url('NeuzeitGroExt-Bla.eot?#iefix') format('embedded-opentype'),
      url('NeuzeitGroExt-Bla.woff2') format('woff2'),
      url('NeuzeitGroExt-Bla.woff') format('woff'),
      url('NeuzeitGroExt-Bla.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit Grotesk';
  src: url('NeuzeitGro-Bla.eot');
  src: local('Neuzeit Grotesk Black'), local('NeuzeitGro-Bla'),
      url('NeuzeitGro-Bla.eot?#iefix') format('embedded-opentype'),
      url('NeuzeitGro-Bla.woff2') format('woff2'),
      url('NeuzeitGro-Bla.woff') format('woff'),
      url('NeuzeitGro-Bla.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit Grotesk';
  src: url('NeuzeitGro-Reg.eot');
  src: local('Neuzeit Grotesk Regular'), local('NeuzeitGro-Reg'),
      url('NeuzeitGro-Reg.eot?#iefix') format('embedded-opentype'),
      url('NeuzeitGro-Reg.woff2') format('woff2'),
      url('NeuzeitGro-Reg.woff') format('woff'),
      url('NeuzeitGro-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit Grotesk';
  src: url('NeuzeitGro-Lig.eot');
  src: local('Neuzeit Grotesk Light'), local('NeuzeitGro-Lig'),
      url('NeuzeitGro-Lig.eot?#iefix') format('embedded-opentype'),
      url('NeuzeitGro-Lig.woff2') format('woff2'),
      url('NeuzeitGro-Lig.woff') format('woff'),
      url('NeuzeitGro-Lig.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit Grotesk';
  src: url('NeuzeitGro-Bol.eot');
  src: local('Neuzeit Grotesk Bold'), local('NeuzeitGro-Bol'),
      url('NeuzeitGro-Bol.eot?#iefix') format('embedded-opentype'),
      url('NeuzeitGro-Bol.woff2') format('woff2'),
      url('NeuzeitGro-Bol.woff') format('woff'),
      url('NeuzeitGro-Bol.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit Grotesk';
  src: url('NeuzeitGroCon-Bla.eot');
  src: local('Neuzeit Grotesk Condensed Black'), local('NeuzeitGroCon-Bla'),
      url('NeuzeitGroCon-Bla.eot?#iefix') format('embedded-opentype'),
      url('NeuzeitGroCon-Bla.woff2') format('woff2'),
      url('NeuzeitGroCon-Bla.woff') format('woff'),
      url('NeuzeitGroCon-Bla.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

